*{ margin: 0; padding: 0;}
html,body{ height: 100%; width: 100%;}
body{ font-size: 12px; color: #666; font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;}
dl,ol,ul{ list-style-type: none;}
input{ color: #666;}
a{text-decoration:none}
.red{color:#F00;}

#xt-left{ position: absolute; background: #393939; width: 130px; left: 0;}
#xt-right{ position: relative; width: auto; margin-left: 130px; overflow-x: hidden; overflow-y: auto; height:100%;  }
.xt-yanse{ color: #21b6b4; padding: 0 5px;}
.xt-center{left: 0; right: 0; top: 0;}
.xt-align{ margin: 20px; border: 1px solid #dcdcdc; background: #fff; position: relative;}

/* a/input样式 */
.blue-xt{ background: #2596d4; color: #fff; padding:5px 15px; border:none; border-radius:2px; font-size: 14px;cursor:pointer; margin-right:10px;}
.green-int{ background: #21b6b4; color: #fff; padding:5px 15px; border: none; border-radius: 2px; font-size: 14px;cursor:pointer}
.yellow-int{ background: #ffb849; color: #fff; padding:5px 15px; border: none; border-radius:2px; font-size: 14px;cursor:pointer; margin-right:10px;}
.red-int{ background: #da542e; color: #fff; padding: 5px 15px; border: none; border-radius: 2px; font-size: 14px;cursor:pointer}
.mingming{ background: #21b6b4; color: #fff; padding: 5px 10px; border: none; border-radius: 2px; font-size: 14px;cursor:pointer}

/* top */
#xt-top{ position:relative; top: 0; left: 0; background: #393939; width: 100%; overflow: hidden; height: 54px;}
.xt-logo{ background: #393939; height: 45px; line-height:45px; text-align: center; padding-top:6px; float: left; margin-left:15px; color:#aeb2b7; font-size:18px;}
.xt-geren{ background: #393939; color: #aeb2b7; font-size: 14px; float: right;}
.xt-exit{ text-align: right; height: 54px; line-height: 54px;}
.xt-exit a{ width: 20px; height: 20px; display: inline-block; text-indent: -9999px; vertical-align: middle; overflow: hidden;
    background: url("../images/icon.png") no-repeat; margin: 0 10px 0 0;}
.xt-exit a.help{ background-position: -114px 0;}
.xt-exit a.exit{ background-position: -85px 0;}
.xt-exit a:hover.help{ background-position: -114px -20px;}
.xt-exit a:hover.exit{ background-position: -85px -20px;}
.xt-exit .xt-span{ padding-right: 20px;}


/* left */
.xt-menu li a{ width: auto; display: block; padding: 18px 0 18px 20px; font-size: 14px; color: #aeb2b7;
    text-decoration: none;}
.xt-menu li a:hover,.xt-menu li a.hover{ background: #424242; color: #21b6b4;}
.xt-menu li a em{ width: 17px; height: 17px; display: inline-block; background: url("../images/icon.png") no-repeat;
    margin: 0 5px -3px 0;}
.xt-menu li a:hover
.xt-menu li a:hover em.one,.xt-menu li a.hover em.one{ background-position: 0 -20px;}
.xt-menu li a:hover em.two,.xt-menu li a.hover em.two{ background-position: -30px -20px;}
.xt-menu li a:hover em.three,.xt-menu li a.hover em.three{ background-position: -58px -20px;}
.xt-menu li a em.one{ background-position: 0 0;}
.xt-menu li a em.two{ background-position: -30px 0;}
.xt-menu li a em.three{ background-position: -58px 0;}
.xt-menu-jj{ height: 10px; border-bottom: 1px solid #4d4c63;}
.xt-menu-list{ height: 300px; border-bottom: 1px solid #4d4c63;}

/* right */
.xt-bt{ background: #fff; border-bottom: 1px solid #dcdcdc; box-shadow: 0 1px 2px #f8f8f8; padding: 15px 10px;}

/* 表 */
.xt-table{ margin: 20px; border: 1px solid #dcdcdc;}
.xt-table td,.xt-table th{ background: #fff; padding:0px; height:55px; line-height:55px;}
.xt-table th{ background: #eee; border-bottom:1px solid #dcdcdc; }
.xt-table tr.xt-bg td{ background: #f9fafa;}
#show_dir td{ text-align:left}
.xt-table tr td{text-align: center;}
.xt-table tr th a{color:#0000FF;}
.xt-table tr td a{ padding: 3px 5px; text-decoration: none; border-radius: 5px;  margin: 0 2px;}
.xt-table tr:hover td{ background: #73cfce; color: #fff;}
.xt-table tr:hover td a:hover{color: #baa01b; background: #f5e17a;}

/* 分页 */
.xt-fenye{ margin: 20px; background: #fff; border: 1px solid #dcdcdc; overflow: hidden; padding: 10px 15px;}
.xt-fenye-left{ float: left; padding:0;}
.xt-fenye-right{ float: right;}
.xt-fenye-right a,.xt-fenye-right input{ display: inline-block; vertical-align: middle; margin-right:5px}
.xt-fenye-right a{ background: #f8f8f8; border: 1px solid #dcdcdc; padding: 5px 15px; color: #666; text-decoration: none;}
.xt-fenye-right a:hover{ background: #21b6b4; color: #fff; border: 1px solid #21b6b4;}
.xt-fenye-right a.xt-link{ background: #21b6b4; color: #fff; border: 1px solid #21b6b4;}
.xt-fenye-right a:hover.xt-link{ background: #30abaa; color: #fff; border: 1px solid #30abaa;}
.xt-fenye-right input{ width: 40px; text-align: center; padding: 4px;}
.xt-fenye-right .active{ background: #21b6b4; color: #fff; border: 1px solid #21b6b4;}


/* input */
.xt-input{ background: #eee; padding: 16px 20px; margin: 20px; border: 1px solid #dcdcdc;}
.xt-input span,.xt-input input,.xt-input select{ display: inline-block; vertical-align: middle;}
.xt-input span{ padding: 0 5px;}
.int-text{padding: 5px 5px;border: 1px solid #dcdcdc;}
 
/**/
.xt-fenye-right li{ float:left}


.tools{position: fixed;left: 50%; top:50%;width:720px; height:560px;margin-left:-370px; margin-top:-360px;display:none; background-color:#fff; border:#dcdcdc solid 1px; padding:0; font-size:14px;-webkit-box-shadow:0 0 10px #ccc;-moz-box-shadow:0 0 10px #ccc;box-shadow:0 0 10px #ccc;}
.tools-header{ position:absolute; top:0px; width:100%; height:40px; line-height:40px; border-bottom:#dcdcdc 1px solid; background:#eee}
.tools-header #title_name{ color:#FF0000; font-size:16px;}
.tools-body{ position:absolute; top:50px; width:97%; padding:0 10px; line-height:30px;}
.tools-body input{padding: 8px 10px;border: 1px solid #dcdcdc; margin-right: 5px;}
.tools-footer{ position:absolute; bottom:0px; width:100%; height:40px; }
.tools-footer a{float:right; margin:0 10px 0 0;}
#title_sort{ margin-left:40px;}
#title_tab{ margin-left:40px;}
#title_state{ margin-left:40px;}

.img-face{position: absolute; background:url(../images/img_set.png) no-repeat; width:46px; height:46px;}
.img-set{position: absolute; background:url(../images/img_set.png) no-repeat;background-position:-47px 0px; width:46px; height:46px;}